/*===== NAVBAR ========*/
.navbar{
    background-color: transparent !important;
    position: absolute;
    width: 100%;
    padding:2% 3%;
}
.navbar-brand{
  position: absolute;
  width: 100px;
  padding:0px 12px ;
}
    
.inner-nav-logo{
  width: 80px !important;
}
.nav-link{
    font-weight: bold;
}
.nav-profile{
  width: 45px;
  border-radius: 50%;
}
.nav-icon{
  font-size: 22px;
  
}
.notification-div{
  display: flex;
}
.notification-icon{
  height: fit-content;
  padding: 10px 13px;
  background-color: #1d9bd1;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  margin-right: 8px;
}
.notification-time{
  font-size: 12px;
  color: #a8a7a7;
}
/* Hero section*/

.hero-section{
    background-image: url("../img/Desktop.png");
    background-size: cover;
    width: 100%;
    height: 650px;
    padding: 0;
    margin: 0;
  }
  .hero-container{
  height: 100%;
  }
  .hero-left-row{
    height: 100%
  }
  .hero-left-col{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .hero-col-div{
  
  }
  .hero-left-row-heading{
    font-size: 58px;
    font-weight: bold;
  }

/*=== Categories===========*/
.cat-div{
  text-align: center;
  padding: 10px;
  box-shadow: 0 4px 8px 0px rgba(34, 34, 34, 0.15) !important;
  border-radius:10px;
}
.cat-div i{
  font-size: 35px;
  padding: 20px 0px;
  color: #1fc2e9;
}


  /*======== How it works?=========*/
  .working-section{
    background-image: url("../img/Desktop5.png");
  background-size: cover;
  width: 100%;
  }
.working-inner-div{
  display: flex;
 /* box-shadow: 0 4px 8px 0px rgba(34, 34, 34, 0.25) !important;*/
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
}
.working-inner-icon-div{
  width: 150px !important;
  height: 80px !important;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #daecf0;
  border-radius: 10px;
}
.working-inner-icon-div i{
  font-size: 32px;
  color: #1fc2e9;
}
.working-inner-content-div{
  padding-left: 15px;
}
/*============= Create section===============*/
.create-section{
  background-image: url("../img/Desktop4.png");
  background-size: cover;
  width: 100%;
}
/*=============== FAQ ==================*/
.accordion-button{
  font-weight: 600;
}

/* =============Testimonials============ */
/* @import url(https://fonts.googleapis.com/css?family=Raleway:400,800); */
figure.snip1192 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  color: #333;
  text-align: left;
  box-shadow: none !important;
  
}
figure.snip1192 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip1192 img {
  max-width: 100%;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
  display: inline-block;
  z-index: 1;
  position: relative;
}
figure.snip1192 blockquote {
  margin: 0;
  display: block;
  border-radius: 8px;
  position: relative;
  background-color: #fff;
  padding: 30px 50px 65px 50px;
  font-size: 0.9em;
  font-weight: 500;
  margin: 0 0 -50px;
  /* line-height: 1.6em; */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 8px 0px rgba(34, 34, 34, 0.15) !important;
}
figure.snip1192 blockquote:before,
figure.snip1192 blockquote:after {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 30px;
  color: #0090D0;
  opacity: 0.3;
  font-style: normal;
}
figure.snip1192 blockquote:before {
  top: 10px;
  left: 20px;
}
figure.snip1192 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 35px;
}
figure.snip1192 .author {
  margin: 0; 
  text-transform: uppercase;
  text-align: center;
  color:#000;
}
figure.snip1192 .author h5 {
  font-weight: 600px;
  opacity: 0.8;
  margin: 0;
  font-weight: 800;
}
figure.snip1192 .author h5 span {
  font-weight: 400;
  text-transform: none;
  display: block;
}
.testimonial-section{
  background-color: #f2f2f2;
}
.testimonial-div{
 /* padding-bottom: 50px; */
}

.heading {

  text-align: center;
}

.swiper_container {
  height: 25rem;
  padding: 2rem 0;
  position: relative;
}

.swiper-slide {
  width: 37rem;
  height: 40rem;
  position: relative;
}

@media (max-width: 500px) {
  .swiper_container {
    height: 15rem;
  }
  .swiper-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .swiper-slide img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.swiper-slide img {
  width: 37rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controler .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.slider-controler .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.slider-controler .slider-arrow::after {
  content: '';
}

.swiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}
 */

  /*======== Footer =============*/
  .footerNarrow-section{
    background-color: transparent !important;
    
  }
  .footerNarrow-section p{
    text-align: center;
  }
  /*Footer*/

.footer img {
  width: 70px;
}

.footer {
  background-color: #3b3b3b;
  font-size: 14px;
}

.footer-logo-img img {
  height: 80px !important;
  width: auto !important;
}

.footer p {
  color: #f9f9f9;
}

.footer .container {
  max-width: 1100px !important;
  z-index: 1000 !important;
}

.footer-logo-txt {
  width: 90%;
}

.my-btn {
  background-color: #0090D0;
}

.footer a {
  text-decoration: none;
  color: #f9f9f9;
}

.topic {
  font-size: 19px;
  font-weight: 450;
  margin-bottom: 0;
  color: rgb(255, 255, 255) !important;
}

.social-div a i {
  font-size: 22px !important;
  margin-top: 10px;
  color: #f9f9f9 !important;
}

.footer i:hover {
  color: #017aad !important;
}

.footer form input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  max-width: 260px;
}

.footer form .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: none !important;
  outline: none !important;
  display: flex;
}

.row-col i {
  font-size: 15px;
  color: #f9f9f9 !important;
  margin-right: 5px;
}

.footer form .btn i {
  color: #0090D0 !important;
  margin: 3px 0;
  font-size: 18px;
}

.disableElem {
  pointer-events: none;
  opacity: 0.8;
}

.footer hr {
  color: rgb(0, 0, 0);
}

/*========Testimonials CSS=============*/
