html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
p{
  color: rgb(30, 30, 30);
}
.box-shadow{
  box-shadow: 0 4px 8px 0px rgba(34, 34, 34, 0.25) !important;
        border-radius: 8px;
}
/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/